[2022-05-20 00:04] #676 closed

[2022-05-20 03:55] emiliom commented on #644
We can close this now.

[2022-05-20 14:38] leewujung commented on #693
This can be closed now with #694 merged.

[2022-05-20 14:38] #693 closed

[2022-05-20 16:15] leewujung commented on #681
Notes while reviewing #685 as a reminder:
Under `v05x_to_v06x._modify_sonar_group` we fill NaN to missing data. For cases like this, may be a good idea to have an overarching statement in the docs to say that some variables that were not encoded in v0.5.x files are filled with `NaN` when converted to v0.6.x files.

[2022-05-20 16:49] emiliom commented on #682
## `time*` attribute changes in the `Platform` group

All variable attribute changes being recommended involve the `Platform` group only. We don't have any additional changes for attributes in `Environment`.

### time1
- Applies to EK60, EK80 (AZFP doesn't have this variable)
- `comment`: "Time coordinate corresponding to NMEA position data"

### time2
- Applies to AZFP, EK60, EK80
- `long_name`:

[2022-05-20 16:52] leewujung commented on #682
I agree. This makes it general.

[2022-05-20 17:21] emiliom commented on #663
FYI I have the `echopype_tour` notebook fully running with `dev`. Testing it exposed two bugs that are now fixed and merged. Once those were addressed, the changes to the notebook were small.

I've also created a release (v0.2.0) for the current notebooks.

[2022-05-20 17:25] b-reyes commented on #682
@emiliom thank you for your summary. Since `Platform.time3` is the same as `Environment.time1` for EK80, so we should also change the `long_name` for `Environment.time1` to `"Timestamps for environmental data"`. @leewujung for EK60, is `Platform.time3` the same as `Environment.time1`? I know that in the code they use the same value, but I am unsure if we should also make their attributes consisten

[2022-05-20 17:41] leewujung commented on #682
For EK60, yes `Platform.time3` comes from the same source as `Environment.time1`, it is part of the sample datagram.
I am not sure which attributes you are referring to, and honestly I have lost track on the distinction between `long_name` and `comment` and exactly what we have decided on.

@b-reyes : how about if you push up a PR with what you have at the moment, and we iterate there? This way th

[2022-05-21 15:38] b-reyes commented on #682
This has been addressed in #699.

[2022-05-21 15:38] #682 closed

[2022-05-23 14:29] marianpena opened #702 "Reduced sampling rate Power/Angle samples"
Hi,
I've been testing echopype with EK80 data recorded in CW mode and reduced sampling rate Power/Angle samples; backscatter looks fine but Sv is full of NaN values. I used ep.calibrate.compute_Sv(ed,waveform_mode="CW",encode_mode='power')

Echopype specifies 2 modes ("complex"` and `"power") but three data formats are possible:

The Stored sampled data for WBTs running CW options can be used to r

[2022-05-23 14:53] marianpena commented on #702
Ok I found the error and how to fix it. Temperature, salinity and depth had the same length as ping_time but only the first value was filled (the rest as NaN). I fixed it by specifying:
env_params = {
    'temperature': ed.environment.temperature[0].values,   # temperature in degree Celsius
    'salinity': ed.environment.salinity[0].values,     # salinity in PSU
    'pressure': ed.environment.dept

[2022-05-23 22:23] b-reyes opened #704 "Review `concat_dims` in `combine_echodata`"
In `combine_echodata` for some groups we use the function `xr.combine_nested`, which uses `concat_dims` from `echopype/core.py`. As of right now, it appears that we are always using the `default` key in `concat_dims` as the input to `xr.combine_nested`. I think this should be investigated further. I believe we should be using the key that is associated with the group and not always the `default` k

[2022-05-24 22:13] emiliom opened #705 "Remnant, messy use of old_* and new_* variables in echodata/combine.py"
In [echodata/combine.py](https://github.com/OSOceanAcoustics/echopype/blob/dev/echopype/echodata/combine.py), specifically in [combine_echodata()](https://github.com/OSOceanAcoustics/echopype/blob/dev/echopype/echodata/combine.py#L75) and [check_and_correct_reversed_time()](https://github.com/OSOceanAcoustics/echopype/blob/dev/echopype/echodata/combine.py#L34), there's what appears to be remnant u

[2022-05-26 20:23] #656 closed

[2022-05-26 23:45] leewujung opened #708 "Remove old access pattern for `EchoData` object"
In v0.6.0 we move to use the access pattern `EchoData["Platform"]`, `EchoData["Sonar/Beam_group1"]`, etc. for example to access different groups in the netCDF data model. The old access pattern `echodata.platform`, `echodata.sonar`, `echodata.beam`, etc. is deprecated and we should remove it soon.

I am setting it in v0.6.2 because I think we should prioritize the memory issues and get other bug f

[2022-05-26 23:58] leewujung commented on #571
We decided to review the detailed content of variables _after_ v0.6.0 now that we have the disruptive type of changes in for v0.6.0.

[2022-05-26 23:58] leewujung commented on #602
Done!

[2022-05-26 23:58] #602 closed

[2022-05-27 00:01] leewujung commented on #606
Done!
Remaining things to be picked up include:
- https://github.com/OSOceanAcoustics/echopype/pull/685#discussion_r879016132
- #708

[2022-05-27 00:01] #606 closed

[2022-05-27 00:01] #644 closed

[2022-05-27 16:32] emiliom commented on #566
@leewujung I don't know why #663 was being tracked in this issue. #663 will be closed soon anyways, but I think we can close this issue.

[2022-05-27 16:48] emiliom opened #710 "Add utility function for swapping channel coordinate with frequency_nominal"
When there are no duplicate frequencies, replacing the new (0.6.0) `channel` coordinate with the new `frequency_nominal` is a really helpful step (eg, see the [Echopype tour notebook](https://osoceanacoustics.github.io/echopype-examples/echopype_tour.html#compute-mean-volume-backscattering-strength-text-mvbs-and-plot-interactive-echograms-using-hvplot) in echopype-examples)). The steps are brief,

[2022-05-27 17:21] #566 closed

[2022-05-28 08:11] emiliom commented on #663
The echopype-examples jupyter book is now fully updated. Closing.

[2022-05-28 08:11] #663 closed

[2022-05-29 21:50] leewujung opened #711 "Re-organize AD2CP data into different `Beam_groupX` groups"
The v0.6.0 change of netCDF data structure did _not_ include the Nortek Signature ADCP (AD2CP) data, because the data is of substantially different format compared to the EK and AZFP echosounders. But now with the experience (and struggle!) with forcing data from the other models into a more compliant form for SONAR-netCDF4 ver.1 convention, I think we can take this step in the upcoming releases.

[2022-06-02 23:31] emiliom opened #713 "​ValueError: ​​No parser available for type RAW version 4"
From @cornejotux:

​I have been trying to read my EK80 files but I just can't get it to work, I get the message:
[code]

Do you have any idea of what I'm doing wrong?

[2022-06-03 00:30] cornejotux commented on #713
Ok.. thanks...
Maybe there is a way to replay the files and save them as an older version.
I will try to do that and I that solve the problem I will report it here.
Thanks for your help.

[2022-06-03 00:45] gavinmacaulay commented on #713
RAW4 contains complex sample data from the transmit pulse (intended to allow calculation of transducer impedance). RAW4 datagrams can be ignored by echopype as the normal RAW3 will still be in the files (see page 149 of https://www.simrad.online/ek80/interface/ek80_interface_en_us.pdf).

[2022-06-03 07:48] emiliom commented on #713
Thanks @gavinmacaulay ! That's very promising. @cornejotux if you could share a small raw file (ideally < 100 MB), that would let us investigate what it might take to do what @gavinmacaulay is suggesting.

[2022-06-03 13:50] leewujung commented on #713
Thanks all for the discussions! I think it'll be relatively straightforward to add support for RAW4 sample datagram into echopype. If @cornejotux could share a sample file that'll let us test the new support.

I think we can quickly put in a "non-patch" for now to skip it with a warning, and put the RAW4 parsingi n the next minor release.

[2022-06-03 13:51] cornejotux commented on #713
Ok... Here is the code that  I used:

[code]
Echopype version is 0.5.6 and the error is the came.

I'm attaching the raw file so you can test it
[test-D20220514-T172704.zip](https://github.com/OSOceanAcoustics/echopype/files/8832776/test-D20220514-T172704.zip)

Thanks in advance.

[2022-06-03 14:10] leewujung commented on #597
Let's add the graphical representation in v0.6.1. It seems excessive to open up an issue for that, so I'll move this issue so that we can close the v0.6.0 milestone.

[2022-06-03 14:23] cornejotux commented on #713
Not sure if this helps, but I just try with the 0.6 version and got this:

`>>> print(ep.__version__)
0.6.0

10:22:08  parsing file test-D20220514-T172704.raw, time of first ping: 2022-May-14 17:27:04
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/cornejo/.virtualenvs/pythonProject/lib/python3.8/site-packages/echopype/convert/api.py", line 428, in open_raw

[2022-06-03 14:24] leewujung commented on #713
Thanks @cornejotux ! there was no change on the parser side from v0.5.6 to v0.6.0, so this is the same error.

[2022-06-03 14:59] leewujung commented on #491
We are in the position work on this now for v0.6.1.

@lgarzio: Could you please provide a small test file?

[2022-06-03 19:54] lsetiawan opened #715 "Pytest workers intermittently crashing during CI test runs"
Seems like the pytest workers crashes intermittently causing failures to CI that has to be restarted until eventually passes. Investigation is needed for a fix with this. It seems that the test that's causing this issue has to do with the plotting test. For example: https://github.com/OSOceanAcoustics/echopype/runs/6727959368?check_suite_focus=true#step:13:1131

[code]

[2022-06-04 00:50] emiliom commented on #713
I can confirm that @leewujung 's PR #714 lets your sample file. Here's a screenshot, using a conda environment based on the PR. One small note: in the screenshot I hide the run-time messages from `ep.open_raw` b/c there are a lot of "Unknown datagram type: RAW4" lines; I assume those are the RAW4 datagrams that are ignored.

If you want to be on the bleeding edge and try this, you can install her

[2022-06-04 15:54] leewujung commented on #713
I just pushed up something that handles that datagram so you won't get that warning. At the moment in my branch RAW4 data are parsed and organized but _not_ saved into the `EchoData` object yet. That's the next task in #714.

[2022-06-04 17:45] lgarzio commented on #491
@leewujung example file here: https://marine.rutgers.edu/~lgarzio/echosounder/

[2022-06-04 20:45] emiliom opened #716 "Clean up organization and some file names in test_data directory"
The `test_data` directory has grown to be untidy. For example:
- For ek80 files, there are 3 top-level directories
- For sample converted files, we have a couple of file names with a string token "_NEW" in them (I started that trend, with @lsetiawan's encouragement)
- Converted files (just a couple) are mixed in with raw files

It'd serve us well to step back and reorganize. Some suggestions:
- Or

[2022-06-04 21:15] emiliom commented on #452
@lsetiawan I believe this isn't implemented yet, right? Would it be easy to add in the near term?

[2022-06-05 05:35] leewujung commented on #713
@cornejotux: #714 should be ready to go, and there's just a last thing about a dimension (https://github.com/OSOceanAcoustics/echopype/pull/714#issuecomment-1146745401).
I added the file you provided into our tests.

Could you try to run this branch on your other files to see if things work fine?

Do you happen to have a file with more than 1 channel? It would be good to see if everything behaves

[2022-06-05 05:56] leewujung commented on #491
@lgarzio: Could you try out #718 on your other files to see if that resolves the problem?

Also, do you have smaller files (~<5 MB) that we could include in the tests? The file you provided is too large and would result in very long CI runs because of the need to copy file in the process. Thanks!

[2022-06-06 16:46] cornejotux commented on #713
ok, I try other files and the open_raw works like a charm.
I do not have multibeam files that we can test.

[2022-06-06 17:30] leewujung commented on #713
@cornejotux: great! We'll get that into v0.6.1 and push out that release soon.

No a multibeam, but a multi-transducer file (so more than 1 frequency). Do you happen to have one of those? No worries if not!

[2022-06-06 17:31] cornejotux commented on #713
I do not...

[2022-06-06 21:47] lsetiawan commented on #452
It's not implemented yet. Sorry I missed this issue previously. I think that can be added soon. I'll take a look. Thanks for putting it in my radar again.

[2022-06-06 22:26] emiliom commented on #452
No worries! We have a lot to keep track of and prioritize.

Awesome. Thanks!

[2022-06-08 00:52] lgarzio commented on #491
Sure I'm happy to test, but I've never done something like this before so I don't really know how to go about getting the updated code if it's not just updating the echopype version?

And no, sorry the smallest file I have with this particular issue is ~14 MB

[2022-06-09 05:33] leewujung commented on #491
@lgarzio : you can install my branch directly using `pip install git+https://github.com/leewujung/echopype@power-angle-mode`. This branch is built on top of what's already in v0.6.0, so if you have a new environment from that but instead of using the conda-forge echopype, pip install echopype from this branch, you should have it.

Could you give us that ~14 MB file? It is still wayyy smaller than

[2022-06-09 09:35] martin-wegmann opened #720 "Empty filter coeffs in EK80 .raw file"
Hi everyone,

I am super new to the world of fish monitoring and acoustics, so treat me as an absolute amateur please.
I need your help regarding an issue reading in EK60 data.

I am using version echopype==0.5.6 and Python 3.7.9 and was recently able to read-in EK60 example data in .raw format. The example data I used to play around with was 68MB large.

Now I was switching to larger input EK60 d

[2022-06-09 20:53] leewujung commented on #720
@martin-wegmann : Thanks for reporting this -- this is interesting, we have not seen a file with this field being empty. This should not be a problem with the size of the file, but somehow the transceivers field is missing in the configuration datagram. This does mean that we should make the code more robust with respect to this type of omission. Give us a week or so to look into this. Could you t

[2022-06-10 13:48] martin-wegmann commented on #720
Thanks for the quick update. I appreciate it.
Unfortunately all the files from our 3 TB database are that size.
Is there any good open-source way how to cut .raw files into smaller time bits? If not, I asked the author of the data to provide me with a 5 MB file. He has the commercial software to do so.

I will get back to you ASAP.

[2022-06-10 13:58] cornejotux commented on #720
@martin-wegmann you can use the software EK80 or maybe EK60 to re-play the file and save/record it into a new file.
You just record a few seconds and your final file will be very small.

[2022-06-10 15:53] emiliom commented on #452
This change has been implemented (PR #721). But let's leave this issue open for now as a reminder to [update the documentation](https://echopype.readthedocs.io/en/stable/contributing.html#continuous-integration-github-actions)

[2022-06-10 17:21] lgarzio commented on #491
@leewujung ~14 MB file added here: https://marine.rutgers.edu/~lgarzio/echosounder/. I can work on testing the fix on the rest of the files I have. Thank you!!!

[2022-06-11 00:34] lgarzio commented on #491
@leewujung looks good to me!! I was able to successfully parse all of files that threw the error before. I'll have to update my plotting code to fully check the entire deployment, but I did look at one of the files and the timestamps and Sv values I extracted are exactly the same as the previous version that I had manually done myself. Thank you so much this is great!!

[2022-06-11 04:46] leewujung commented on #491
Fantastic @lgarzio! Thanks for testing this out and the test file. I will put the file in our CI and get this merged. It will be in v0.6.1 so you don't have to do the pip install from that branch after that. We're aiming for that to be a minor with just a few things, so should be relatively quick.

[2022-06-13 09:31] martin-wegmann commented on #720
Hi everyone,

so I got the following additional information from the author of the data:

- Data are from EK60 recorded using EK80.
- In our case there is a lack of GPS data because the instrument is stationary in space. Maybe that is part of the issue?

I attached a smaller example file from the same sample pool.

Thanks for your help, I appreciate it greatly!

[example_EK60.zip](https://github.c

[2022-06-13 19:37] cornejotux opened #722 "About parsing message from open_raw"
This is more a question than an issue.
Is there any way to avoid getting the message "15:32:08  parsing file XXX_T165053.raw, time of first ping: 2022-May-14 16:50:53" when reading an EK80 raw file with open_raw?

I'm loading a few hundred files with a loop and instead of the message I want to get only a progress bar, which right now is re-display every time a file is loaded.

This is the code I'm

[2022-06-14 03:23] leewujung commented on #722
@cornejotux : We currently don't have this implemented but it has been requested in another issue #457. Would you be able to give it a shot? It'd be great to use the python logging functionality to do this and add a flag to let user control whether or not to print to screen or just save to a log file.

[2022-06-14 04:00] leewujung commented on #720
@martin-wegmann : Could you give #724 a try? Your file is indeed from EK80 and there's a small bug that I just fixed when saving the data into appropriate netCDF groups. Thanks!

@emiliom @b-reyes : We should probably implement the mechanism for echopype to distinguish EK60 and EK80 files automatically #494 based on the presence of `XML0` or `CON0` datagrams to make it easier to debug the actual e

[2022-06-14 07:34] emiliom commented on #720
I've added #494 to Milestone 0.6.1. It doesn't mean we have to include it in that milestone, but it'll keep it in our near-term attention.

[2022-06-14 07:45] emiliom commented on #722
As @leewujung pointed out, this issue is a duplicate of #457. I suggest we close it and move the discussions there.

[2022-06-14 12:30] cornejotux commented on #722
@leewujung not sure if I'm up to the task but I would take a look and see if I can contribute somehow.
Actually, I would love to.

[2022-06-14 21:41] leewujung commented on #722
Thanks @cornejotux !

[2022-06-14 21:43] leewujung commented on #720
@emiliom : I'll see if I can try to get fix for #494 in in the next few days, on my streak of evening echopype effort. ;)

[2022-06-14 21:46] leewujung commented on #711
Proposed variable movements and attribute elaboration in #719.

[2022-06-15 02:40] leewujung commented on #578
@valentina-s and I have some conversation today about this. My thought was that we can provide functions to add `depth` as a data variable in the `Sv` dataset; similarly, I was thinking that for other needs such as interpolating the lat/lon positions from the `Platform` group to be along `ping_time` those become new data variables too in the `Sv` dataset. Users can just save a single copy of `Sv`

[2022-06-15 02:43] leewujung opened #725 "Add mechanism to interpolate lat/lon to Sv data"
Currently the GPS lat/lon data exist only in the converted raw file under the `Platform` group. However, for many science use cases, the calibrated Sv dataset should have the lat/lon positions of each of the pings attached. We should create a mechanism for this as we move data through the processing chain/pipeline.

[2022-06-15 02:58] leewujung opened #726 "Add function to regrid Sv data"
It is a pretty common need to regrid Sv data, since different channels (frequencies) may be configured differently to collect data with different `sample_interval` even if the total range collected is the same.

Proposal: add this to the `preprocess` subpackage.

[2022-06-15 03:07] leewujung commented on #711
Hey @imranmaj : once you have something in place for the changes we discussed yesterday please push up a draft PR so that I (and @emiliom ) can review the changes in smaller chunks. Thanks!

[2022-06-15 03:40] leewujung commented on #671
Related to #719 and its upcoming implementation which will include changes like what's proposed above but for AD2CP.

[2022-06-15 03:50] leewujung opened #727 "Add function to remove impulsive noise"
A function to remove impulsive noise like those produced by un-synced ADCP or electric noise is useful is batch processing data.

[2022-06-15 03:52] leewujung opened #728 "Add function to do kernel-based smoothing"
This is not currently used by the hake survey but is used by NEFSC in multiple years. This is not difficult to implement and in theory straightforward to parallelize. Would help with data reduction when used in conjunction with regridding?

[2022-06-15 03:54] leewujung opened #729 "Add function to remove bottom"
Given an existing bottom annotation generated from either manual editing or automatic detection, we need a function to remove everything below the bottom before computing NASC.

For this function it will be good to add an argument for users to put in a buffer zone, since in many processing people use 1 m or 3 m offset to avoid getting bottom echoes into biomass estimates.

This can probably use or

[2022-06-15 03:58] leewujung opened #730 "Add function to produce NASC"
NASC (nautical area backscattering coefficients) is a high-level data product intimately related to biomass estimation. It can be viewed as a cleaned up form of the acoustic data (after removing noise, removing bottom, classifying regions of particular organisms, etc.) at regular spatial intervals along depth and geographical locations (say 10 m x 0.5 nmi "cells").

The hake survey uses PRC_NASC i

[2022-06-15 10:08] martin-wegmann commented on #720
@leewujung could you give me a tiny manual how to get the new fix set up on my machine? I am a bit lost right now...

[2022-06-15 16:34] leewujung commented on #720
@martin-wegmann : yes!
You can use the following to set up a conda environment with all the echopype requirements:
[code]
Activate into that environment:
[code]
And then do the following to pip install my branch that contains the changes in #724
[code]
You can check all packages installed in this environment by doing
[code]
Let me know if these work!

[2022-06-16 16:38] leewujung commented on #552
Let's close this one and open a new issue on whether we want to switch to always running all tests regardless of which files are changed in a PR.

[2022-06-18 02:53] imranmaj opened #732 "Unable to open converted file on Windows with datatree v0.0.4"
On Windows, `open_converted` fails with a `KeyError` on `Sonar\\Beam_group1`. I believe this is because of the way this function in datatree is currently written: https://github.com/xarray-contrib/datatree/blob/b7cdaa0d702b559a2ece763c4f4dfa707401d5a8/datatree/io.py#L14-L19

The native path separator on Windows is "\\", not "/", and the function uses pathlib, which uses the native path separator.

[2022-06-18 05:17] imranmaj commented on #732
This issue is solved by upgrading xarray-datatree to 0.0.6 but that breaks a lot of other things

[2022-06-19 19:27] emiliom commented on #732
From https://github.com/OSOceanAcoustics/echopype/pull/731#issuecomment-1159617984:

@imranmaj when you get a chance could you share those edits here, if they're small?

I think this issue is an important one. I've flagged it as Milestone 0.6.1.

[2022-06-19 19:43] leewujung commented on #732
@emiliom : agreed! This is an urgent issue since Windows users would run into trouble if they upgrade to v0.6.0.

[2022-06-19 20:02] emiliom commented on #722
Closing this issue to shift the discussions on this topic to #457. Thanks again @cornejotux ! Looking forward to your contribution on this issue

[2022-06-19 20:02] #722 closed

[2022-06-19 20:02] emiliom commented on #457
This need was recently brought up again in #722 (now closed to shift the discussions here). @cornejotux will try to tackle it :pray:

[2022-06-19 21:11] imranmaj commented on #732
With datatree v0.0.4,

**In `datatree\io.py`:**

Change line 17 from

[code]

to

[code]

---

**In `datatree\io.py`:**

Change line 25 from

[code]

to

[code]

[2022-06-19 22:02] emiliom commented on #732
Thanks! Wow, that's simple.

[2022-06-20 21:32] leewujung opened #733 "AD2CP packets with invalid timestamp"
We know that the string packets do not have a timestamp, but all the other packets have it.

However, I ran into a few files that do have timestamp data but the timestamp do not make sense, like having day=0. These files are decimated by the instrument so probably some records were changed in a way different from the original files (the original pre-decimation files do not have this problem).

I w

[2022-06-20 22:03] leewujung commented on #732
Work needed, from @imranmaj :

[2022-06-20 22:46] imranmaj commented on #733
That seems reasonable

[2022-06-21 00:07] imranmaj commented on #733
Fixed in #731

[2022-06-21 00:10] leewujung commented on #733
Thanks @imranmaj !

[2022-06-21 02:18] leewujung opened #734 "Handling additional leading string packet in AD2CP files"
Currently the parser/set_grouper assumed having 1 leading string packet to parse the config parameters. However, for deployed files like those from glider, the first packet is often written (optionally) with an identifier of the mission/dive/etc. The current operation to parse config params therefore operates on the wrong string packet in this situation (should operate on the second one, which is

[2022-06-21 03:35] #733 closed

[2022-06-21 22:23] leewujung commented on #578
One more wrinkle to this is that in the current `echo_range` calculation the values below 0 are set to 0, which creates problems when we want to combined multiple datasets together (repeated values). In practice this does not matter in the use, but we need to fix this issue so that we can combine datasets easily.

[2022-06-21 23:35] leewujung opened #737 "Review/change handling of negative `echo_range` in calibration outputs"
Right now we set all negative `echo_range` to 0 at the end of `compute_range`, which causes problems when trying to combine datasets (#578)
https://github.com/OSOceanAcoustics/echopype/blob/12693a72badcf54a18408e694b72e7b0e6d48023/echopype/echodata/echodata.py#L473

This issue is a reminder to review this and change/fix related operations in calibration.

[2022-06-22 04:28] leewujung commented on #720
Closing this as the fix is merged into `dev`.

[2022-06-22 04:30] leewujung commented on #491
Closing this as the fix is merged into `dev`.

[2022-06-22 04:30] #491 closed

[2022-06-22 16:43] #713 closed

[2022-06-22 17:50] leewujung opened #739 "Intermittent bucket error during test runs"
There has been pretty severe intermittent error related to bucket creation (? I haven't looked very closely) in the latest PRs. From a glance it is of a different cause from those in already documented issues.

One example:
https://github.com/OSOceanAcoustics/echopype/runs/6997551890?check_suite_focus=true#step:16:1703

[2022-06-25 21:18] emiliom opened #740 "Enhance update_platform to support more use cases and produce more consistent results"
The use case that drove the development and testing of `update_platform` was a single set of Saildrone data files from the Pacific Hake survey, with one EK80 raw file with no Platform data at all and an associated external data file.

I illustrate and document some of the issues in [this notebook](https://gist.github.com/emiliom/9cddce2417713208f40800dc5ba0abb1).

### General comments about the cu

[2022-06-26 20:43] emiliom commented on #740
See PR #741

[2022-06-28 00:07] leewujung opened #742 "Coordinate `filenames` of data variable `source_filenames` should be a coordinate"
I am just working with the calibrated Sv dataset and trying to combine many of them, and I noticed that the `filenames` is a dimension but not a coordinate. This makes it not possible to automatically combining the `source_filenames` together along the `filenames` dimension.

It seems that this data variable is added here and we can make `filenames` a coordinate explicitly to make it easier to wor

[2022-06-28 20:47] brandynlucca opened #743 "Errors/issues processing sequentially pinged multifrequency broadband EK80 files"
Hi all. I didn't see this in either of the current open or closed issues, but I am running into a data processing issue with Simrad *.raw files containing broadband multiple frequency data. I followed the threads and chain of issues/pulls in both [#308](https://github.com/OSOceanAcoustics/echopype/issues/308#issue-870570268) and [#657](https://github.com/OSOceanAcoustics/echopype/pull/657), but th

[2022-06-28 22:36] emiliom commented on #742
`source_files_vars` is a function that's reused in at least a couple of places, including here and in `set_provenance`. A general solution would be to change `source_files_vars` so that it returns dicts for both the variable and the coordinate, just like the [_beam_groups_vars](https://github.com/OSOceanAcoustics/echopype/blob/a3ddec1d9f9aa6bbd394aac82c0bdffcfde90477/echopype/convert/set_groups_ba

[2022-06-29 05:29] leewujung commented on #743
@brandynlucca : Thanks for reporting the bugs and the very thorough investigation!! I believe you didn't break anything and it is the code that needs improvements.

The NaN padding is a strategy we use to get data from all channels into a gridded form for slicing, and it is great (!) to know that the current calibration routine breaks with the interleaving NaNs for sequential pings. I quickly look

[2022-06-29 07:40] emiliom commented on #720
@leewujung could this issue with MVBS be the same one you've addressed in PR #736?

[2022-06-29 14:53] leewujung commented on #720
Hmm, no, this looks like something else. I didn't look into the actual data content of the file @martin-wegmann provided while working #724. I'll look into this later today.

[2022-06-29 16:16] emiliom commented on #740
I hadn't thought of that case, and it's a good point. Right now this decision (whether to use a single point with the first ping_time or two points) is external to `update_platform`, but I'm thinking that we could build in -- now or down the road -- a special handling of the fixed-location case such that the user could pass a single lat,lon coordinate; then `update_platform` would implement the as

[2022-06-29 16:18] emiliom commented on #740
For version 0.6.1 (short time frame), I think we can focus largely on the fixed-location use case and the issues and clean ups I've already addressed in PR #741. We can leave the other comments I've raised here to 0.6.2.

[2022-06-29 20:28] brandynlucca commented on #743
No worries! I wonder if one plausible alternative would be to generate multidimensional coordinates that maps `ping_time` to a specific `channel`? Perhaps that would also allow frequency-specific data to be severable from the overall dataset (e.g. processing just 38/200 kHz backscatter via `Echopype` for something like dB differencing without requiring external manipulation or needing to process o

[2022-06-29 21:36] leewujung commented on #743
Yes! this is perhaps the nice use case for using dask.delayed via accessing already existing zarr store (so just slice out the frequencies needed) for distributing the computation. In a way once we are processing large files an intermediate zarr store may always be needed. In this particular case we could slice out just 38/200 and then drop all NaNs for the calculation. Great! I'll give this a try

[2022-06-30 05:38] leewujung opened #745 "Add test for calibration output format consistency"
From @emiliom 's comment in #735:

We currently only have tests to make sure the calibration routines are run through, and in a few limited cases the calibrated output values. Let's implement another test for checking the format consistency of the calibration outputs.

[2022-06-30 18:08] brandynlucca commented on #743
Here is a Google Drive link to the *.raw file I was using:

https://drive.google.com/file/d/1c1d0rUgBa9N-2UfZOM7_rnCSvuhb0g0H/view?usp=sharing

Let me know if there are any issues accessing it!

[2022-07-01 16:40] yalonzo opened #750 "Not showing echogram using ES80 sonar model"
Hello,

I'm trying to show an echogram with Sonar ES80 data. However, first, I can't open the RAW data with this sonar model. Instead, I try to open with EK80 like parameter and I got success. I don't know if this trick is correct.

Now, I'm trying to show the echogram but I don't see anything (see the image)

![image](https://user-images.githubusercontent.com/50753972/176935400-9a30086f-691a-444b

[2022-07-01 17:54] emiliom commented on #750
Thanks for the report. Could you provide the error you got when you used `sonar_model="ES80"` in `open_raw`?

[2022-07-01 22:22] leewujung commented on #710
I think this can be closed now. I'll move the function to `preprocess` from `utils` in a separate PR before v0.6.1.

[2022-07-01 22:23] #710 closed

[2022-07-01 22:24] leewujung commented on #711
The majority of variable movements are completed in #731. I'll keep this open but defer the rest to v0.6.2.

[2022-07-01 23:11] leewujung opened #752 "Re-order dimension of AZFP `echo_range`"
The order of dimension for `echo_range` under AZFP currently requires an ad-hoc change at the end of `calibrate_azfp.py::_cal_power`
[code]
to make it consistent with the order for `Sv`, since this is not the case for other sonar models.

This seems better fixed in the AZFP part of `compute_range` so that we don't have to do this ad-hoc fix in this current place.

[2022-07-01 23:24] leewujung commented on #752
@b-reyes has the fix here: https://github.com/OSOceanAcoustics/echopype/pull/736#discussion_r912285257

[2022-07-02 01:31] #732 closed

[2022-07-02 02:32] leewujung commented on #743
This issue might be related to https://github.com/OSOceanAcoustics/echopype/issues/720#issuecomment-1165568926

[2022-07-04 18:04] yalonzo commented on #750
There isn't a problem when I read the data using `open_raw `with `sonar_model="ES80"`. However, when I want to calibrate the data I get this error (see the image)

![image](https://user-images.githubusercontent.com/50753972/177201469-ebca2e09-68cf-43b3-a9c6-7d27b7c905e0.png)

So, this is the principal reason to use EK80 instead ES80 when I read raw data, but the echogram is empty using this trick.

[2022-07-05 03:57] leewujung commented on #720
@martin-wegmann : Thanks for reporting this! The source of the error you ran into was a bug introduced in v0.6.0 due to a change of coordinate variable name in the echodata[`Environment`] group. Stay tuned -- I'll ping you on the PR when it is ready to be tested.

[2022-07-05 06:25] emiliom commented on #750
Thanks for that information and screenshot. What echopype version are you using?

I think there may be two different issues going on. The first one is that it looks like `calibrate.compute_Sv` is not handling "ES80". I see that ES80 is not included here among the defined "calibrators", and it's also not handled explicitly in the blocks below that line.

https://github.com/OSOceanAcoustics/echopype

[2022-07-05 16:08] yalonzo commented on #750
I understand. Ok.

I share with you the RAW file that I'm trying to plot.
[sample_raw.zip](https://github.com/OSOceanAcoustics/echopype/files/9047879/sample_raw.zip)

[2022-07-05 17:10] emiliom commented on #750
Thanks!

[2022-07-05 21:16] yalonzo commented on #750
So, can you plot the echogram with this RAW data? How can I plot the echogram now?

Also, I see that will be a new version of Echopype with new fixes, when will it be released?

Will I be able to plot the echogram with this new version?

Thanks in advance 😎

[2022-07-07 03:43] leewujung commented on #750
@yalonzo : I am pretty sure what you have seen is something caused by the bug that https://github.com/OSOceanAcoustics/echopype/pull/755 addresses. As @emiliom said, we will have to add ES80 to the list so that it can be handled by the same calibration function as the EK80 echosounder.

In terms of timeline, our goal is to release v0.6.1 by the end of this week. Working toward that!

[2022-07-07 03:46] leewujung commented on #720
@martin-wegmann : The issue with empty Sv is the one #755 addresses (I just tested with the example file you provided above), so Sv generation should be fine now.

There's some problem with `compute_MVBS` but if your data is very regular (as in no alternating ping sequence, and all channels are of the same number of samples -- which seems to be the case for your example file), the current version

[2022-07-07 04:58] leewujung opened #756 "Rework MVBS tests"
Right now our tests for `compute_MVBS` are pretty messy and we can benefit from reworking this for robustness and readability.

A laundry list of the few things I noticed while working on #753 were:
- operations in `_construct_MVBS_toy_data` and `_construct_MVBS_test_data` either are hard to decipher or seem can be simplified. It may be the best to rewrite these.
- factor out common components bet

[2022-07-07 16:42] emiliom opened #757 "Updates to Contributing page"
- [x] In https://echopype.readthedocs.io/en/stable/contributing.html#installation-for-echopype-development, change `pip install -e .[plot]` to `pip install -e ".[plot]"`
- [x] In https://echopype.readthedocs.io/en/stable/contributing.html#continuous-integration-github-actions, update the description of the labels (string tokens) used for forcing the CI to run all tests or skip tests. Use PR title

[2022-07-08 00:02] yalonzo commented on #750
Ohh, I understand. Thank you!!! 😎

[2022-07-08 05:00] #734 closed

[2022-07-08 07:36] emiliom opened #760 "Create calibration tests for ES70, ES80, EA640"
There are currently no calibration tests for ES70, ES80 and EA640 data. See #759 for background and reference to an ES80 sample raw file. There's also a sample ES70 raw file from Gavin. See existing conversion tests that currently use some of these files.

See also #716

[2022-07-08 17:04] emiliom commented on #452
We're now tracking the update to the documentation in #757. Closing

[2022-07-08 17:04] #452 closed

[2022-07-08 18:57] leewujung commented on #750
It is now on conda-forge!

[2022-07-08 19:01] leewujung commented on #743
@brandynlucca : we fixed a few regression bugs from v0.6.0 in the most recent release (v0.6.1 this morning), but I haven't had a chance to fix the part related to the NaN issues during BB calibration. Stay tuned -- I'll ping when there's PR for that.

[2022-07-08 19:03] lsetiawan commented on #739
PR #761 fixes this issue. Have been pushed to both `dev` and `main` as hotfixes.

[2022-07-08 19:03] #739 closed

[2022-07-08 19:42] leewujung commented on #739
Awesome!! Thanks @lsetiawan! Would appreciate a run-down on what the problems and fixes are!

[2022-07-08 20:54] emiliom commented on #739
Thanks for the hard work on this! The first problem sounds like it was a significant burden, so hopefully we'll see noticeable benefits.

[2022-07-09 01:16] yalonzo commented on #750
I tried it and ran perfectly. Thank you so much for the support and again Gracias!!! 😎

[2022-07-09 07:41] #750 closed

[2022-07-09 15:46] #720 closed

[2022-07-12 20:15] yalonzo opened #763 "Interpolate locations data to echograms"
Hello guys,

Is possible to get the longitude and latitude data from Platform Group (see the screenshot) to the Sv data?
![image](https://user-images.githubusercontent.com/50753972/178585951-4123e836-8c4f-42b2-9ce8-c134d888026c.png)

I see that the latitude and longitude data are correlated to time1. However, the Sv data is correlated to time2
![image](https://user-images.githubusercontent.com/507

[2022-07-12 21:20] emiliom commented on #763
We've started working on that feature. See #749. @leewujung can comment on whether there's already useful functionality in that PR.

[2022-07-13 05:23] leewujung commented on #763
@yalonzo : the function in #749 is already in a functional form, but I want to move it to a different subpackage/module as part of our work in constructing the entire data processing pipeline, so it will remain a PR until probably sometime next week (and later be included in v0.6.2). Feel free to grab that function to use and comment on that PR for more discussion!

[2022-07-13 05:24] leewujung commented on #763
Duplicate of #725

[2022-07-13 07:57] emiliom commented on #757
Closed by #764

[2022-07-13 07:57] #757 closed

[2022-07-14 16:13] leewujung commented on #552
Seems like we can close this now that @lsetiawan has put in quite a bit of work to make the tests more robust?

[2022-07-14 17:33] lsetiawan commented on #552
Sounds good to me. Thanks

[2022-07-14 19:07] #552 closed

[2022-07-25 23:00] b-reyes commented on #408
I will go ahead and assign this issue to myself. I am currently working on a framework that will make `open_raw` delay friendly.

My approach as of right now is as follows:
1. Check if the expanded form of the data is too large for memory
2. If the expanded form is too big, write large data variables to a temporary zarr store in chunks
3. Lazy load the large data variables from the temporary zarr

[2022-07-25 23:21] b-reyes opened #765 "Improve chunking when saving to a file"
When we use the routines `ed.to_zarr()` or `ed.to_netcdf()` we eventually call the function [_save_groups_to_file](https://github.com/OSOceanAcoustics/echopype/blob/0095f1595ee6f07926cbb25ed5319c9afb60f275/echopype/convert/api.py#L103). Within this function we automatically chunk the xarray dataset with respect to coordinates such as `range_sample` or `ping_time`. However, this is not optimal and

[2022-07-26 04:02] leewujung commented on #408
@b-reyes : I am linking this to #489 because this set of approaches actually address the central memory expansion problem that makes echopype not practical to use, and solving it naturally requires under the hood of `open_raw` to be delay friendly as we all discussed last two meetings.

#489 also links to the two problematic files for your testing. Note the expansion for the 89 MB file is particul

[2022-07-26 04:11] leewujung commented on #765
I agree that the default chunking is not always necessary and probably makes performance worse in some cases. I think a good juncture to look into this is to consider rechunking when we need to/once we combine multiple data files, since there final combined data would be much larger and chunking will be necessary. Knowing what the approximate total size and dimensions are (the largest dimension us

[2022-07-27 17:37] yalonzo commented on #750
Hi again,

One question, can you plot the echogram using the MVBS_ds? I used this function but my kernel in Python died :(.

[code]

I want to plot this, but is necessary the conversion MVBS_ds y_axis (depth), x_axis (time) (see image)

![image](https://user-images.githubusercontent.com/50753972/181312708-82b8530a-655f-412b-9817-65a6c4fed5a3.png)

[2022-07-28 05:04] leewujung commented on #528
This one seems outdated now?

[2022-07-28 05:05] leewujung commented on #535
This one seems outdated now? @lsetiawan @emiliom

[2022-07-28 05:18] leewujung opened #766 "Allow handling larger-than-memory total data volume in `combine_echodata`"
In one of our `echopype-examples` example notebooks (the OOI one), the kernel would die if local memory is not large enough to hold the total volume of data from all files. In theory everything can be lazy-loaded within the combined `EchoData` object so that this doesn't happen.

[2022-07-28 05:20] leewujung opened #767 "`combine_echodata` review and debug"
This serves as the tracking issue for all existing issues related to `combine_echodata`:

- [x] ~#678~
- [x] #704
- [x] #705
- [x] #766

My thought is to prioritize the first 3 for v0.6.2 before we dive into the scaling issue, unless, of course, the path is pretty straightforward for resolving the last.

[2022-07-28 05:44] emiliom commented on #535
I agree. There may be some threads here that we'll want to revisit in the future, but keeping this issue open doesn't really help.

[2022-07-28 05:53] emiliom commented on #528
We haven't resolved this, but I think it's very low priority. The RTD setting referred to in the previous comment **is** actually on (eg, https://echopype.readthedocs.io/en/v0.6.0/). But it doesn't insert the warning on the `latest` version, which was the goal set out in this issue.

So, we're not aware of an existing solution to exactly address this issue; but the issue itself is not a priority,

[2022-07-28 15:23] b-reyes commented on #580
@leewujung please correct me if I am misunderstanding something, but based off of [#673 (comment)](https://github.com/OSOceanAcoustics/echopype/issues/673#issuecomment-1130404416) it seems like we should not implement this (at least for the EchoData object). As I recall, it will cause several downstream issues that have little to no upside.

If our goal is to have level 0 be an authentic reproduct

[2022-07-28 15:27] leewujung commented on #580
@b-reyes : I am not sure what you mean, because this PR is exactly to REMOVE the _currently unused_ (and cannot be used) NMEA sentence selection mechanism, so that there is NO optional argument in `open_raw` to do any selection.

[2022-07-28 15:36] leewujung commented on #580
@b-reyes : reading what i wrote earlier again, I guess we were probably talking about different things... Maybe you were referring to the fact that we cannot preserve _all_ the NMEA sentences? If so, I agree.

I think my issue cobbled two things so probably can be revised. In my mind the thing to be removed is the option for user to say they only want a further subset of those GPS position sentenc

[2022-07-28 15:47] b-reyes commented on #580
@leewujung that makes sense now. Great, I have no problem with this.

Does this new objective sound good @leewujung?

Objective: Remove the option that allows the user to select a subset of the GPS position sentences and we should continue to select the same NMEA sentences. Specifically, we should only select the NMEA sentences: `["GGA", "GLL", "RMC"] `.

[2022-07-28 15:50] leewujung commented on #580
@b-reyes : Yes, I think you are spot on! Thanks for keeping clear eyes on this!  Feel free to edit the issue text as you see fit.

[2022-07-28 19:28] emiliom commented on #750
I don't think I understand exactly what you're asking. Yes, one can plot the MVBS echogram, as you can see from the example and screenshots you included, which I can see are from the [first notebook in our Echopype Examples site](https://osoceanacoustics.github.io/echopype-examples/echopype_tour.html).

Could you create a new issue for this question? That makes it easier for us to follow up, compa

[2022-07-29 15:00] leewujung commented on #535
I'll close this.

[2022-07-29 15:00] #535 closed

[2022-07-31 15:34] yalonzo commented on #750
So sorry,

I referred that I can't plot the MVBS_ds with the data from ES80 sonar model that I shared with you.

Thank you

[2022-07-31 16:07] yalonzo commented on #750
Also, please 🙏, could you delete this issue (**Not showing echogram using ES80 sonar model #750**) from GitHub because this information and results are sensible and private.

I hope you understand me :(

Thank you for your help and your comprehension.

[2022-08-02 18:12] emiliom commented on #750
Are you saying you can create `MVBS_ds` using `compute_MVBS` just fine, but you get a kernel death when you try to plot following the Echopype Examples code? If so, please share the exact statement where the kernel death occurs, and preceding statements. Also, how big is your raw file?

We appreciate when users like you take the time to post a question here on GitHub and we try to help whenever po

[2022-08-02 20:42] yalonzo commented on #750
Yes, when I tried to get and then plot the MVBS data from the example shared (sample_raw.raw), my kernel in Python died. I don't know why is the reason 🤔.

This is the code used:
[code]

And this is the message:
![image](https://user-images.githubusercontent.com/50753972/182468831-7573f908-0b9b-4baa-9ccb-5add48f694ac.png)

Yes, I understand your point of view, in that case, only could you edit or

[2022-08-04 15:54] emiliom commented on #763
I'm closing this issue, since we already identified it as a duplicate. See #725

[2022-08-04 15:54] #763 closed

[2022-08-04 16:51] lsetiawan commented on #715
Fixed in #761

[2022-08-04 16:51] #715 closed

[2022-08-04 20:55] leewujung opened #769 "Add more comprehensive tests to `consolidate.add_latlon`"
This is a leftover to #749 , in which we added a new function to interpolate lat-lon locations from the `EchoData["Platform"]` group to calibrated Sv data. That PR includes a basic test to run `add_latlon` for an EK60 file and check for existence of the latitude and longitude variables.

We still need tests to cover the following cases:
- Data with empty latitude and longitude variables in the Pla

[2022-08-05 07:07] rolandproud opened #770 "Read CW EK80 error when using transceiver_software_version=50112"
Hi, error when reading EK80 (power/CW) from transceiver_software_version=50112. There are no filters/decimation factors so SetGroupsEK80() throws error. Fix by making this optional. Also, Sv is not caluclated correclty using these files. Sound absorption/sound speed only calculated for first ping (due to enviroment values) and the rest are nans and hence calculated Sv is nan. I had to provide:

en

[2022-08-05 13:57] leewujung commented on #770
@rolandproud : which echopype version are you using? I think the fixes to these were included in v0.6.1.

[2022-08-05 14:02] rolandproud commented on #770
Ah sorry - 0.6.0. OK thanks!

[2022-08-05 14:03] #770 closed

[2022-08-05 14:03] leewujung commented on #770
No problem. Let us know if these persist even with v0.6.1!

[2022-08-09 20:10] lsetiawan opened #776 "Latest xarray version caused echopype tests/functions to fail"
## Overview

As of August 4th from commit https://github.com/OSOceanAcoustics/echopype/commit/72909babcfbc567943072c2d7293fcf7665810c4. CI test failure is observed. These tests failures are observed when using xarray version **`2022.6.0`**.

Some failures are:
1. `ep.calibrate.compute_Sv` function: https://github.com/OSOceanAcoustics/echopype/runs/7700692440?check_suite_focus=true#step:13:1149

[2022-08-10 07:23] emiliom commented on #750
I've removed the plot I had created -- though, again, there was nothing there that made it identifiable or distinguishable from any echogram from an unknown source.

I'll try to reproduce your kernel error on `ep.preprocess.compute_MVBS`, but it won't be for at least two weeks. I suggest you profile memory consumption when you run that statement to see why and how the kernel dies. Typically a Jupy

[2022-08-10 20:12] b-reyes opened #777 "Add unit tests for methods that directly write variables to zarr"
In PR #774 we added the functionality that allows users to directly write variables with a large memory footprint directly to a temporary zarr store. Currently, we have only applied this new functionality to a couple of files. Although these files produce the expected output, a suite of unit tests need to be completed to ensure this addition is behaving as expected.

[2022-08-11 15:46] b-reyes commented on #670
PR #779 addressed this issue, I will go ahead and close this issue.

[2022-08-11 15:46] #670 closed

[2022-08-11 21:08] emiliom opened #781 "Improve handling of log file output in verbose functionality"
Suggestions for improvements to the new `echopype.verbose()` functionality implemented in PR #772, pertaining to options available when passing a `logfile` argument. See discussions starting at https://github.com/OSOceanAcoustics/echopype/pull/772#issuecomment-1212355025

[2022-08-11 21:09] emiliom commented on #457
Implemented in PR #772. Closing.

[2022-08-11 21:09] #457 closed

[2022-08-11 22:18] b-reyes opened #782 "Add `'auto'` option to kwarg `offload_to_zarr` in `open_raw`"
In PR #774 we added the option to directly write variables with a large memory footprint to a temporary zarr store. Ideally, we want to include the option `offload_to_zarr='auto'`, which will trigger a routine that automatically determines if we should directly write these variables to a temporary zarr. In a first attempt, the choice of whether to offload to zarr was based on a threshold of the pe

[2022-08-11 22:41] b-reyes commented on #639
PR #780 addressed this issue.

[2022-08-11 22:41] #639 closed

[2022-08-11 22:57] b-reyes commented on #408
In PR #774 we implemented a method that allows users to directly write large variables to a temporary zarr store. This method is currently only available for echosounders that fall under the EK60 or EK80 classification. As the PR only writes a subset of variables to zarr and only applies to EK60/EK80, I believe we only partially address this issue. Should we modify this issue and close it or keep

[2022-08-11 23:19] b-reyes commented on #489
In PR #774 we extended the `open_raw` function to include a kwarg that allows users to directly write variables with a large memory footprint to a temporary zarr store for EK60/EK80 echosounders. In this PR we also successfully opened and wrote to a zarr file both of the files presented in this issue. Currently, this functionality is in beta as it requires unit testing and we would like to add an

[2022-08-18 07:17] erikatbeof opened #789 "to_netcdf failure in echopype_tour notebook under echopype-examples"
Hi,
I running the echopype_tour example in the echopype-examples repo.

At panel 9 and line

`ed.to_netcdf(save_path=converted_dpath, overwrite=True)`

I get:

`08:35:29  parsing file Summer2017-D20170728-T181619.raw, time of first ping: 2017-Jul-28 18:16:19
08:36:38  overwriting exports/Summer2017-D20170728-T181619.nc
Failed to process raw file Summer2017-D20170728-T181619.raw: NetCDF: Filter err

[2022-08-18 13:38] leewujung commented on #789
@erikatbeof : please upgrade to >=v0.6.1 and you should be fine.

[2022-08-18 13:51] leewujung commented on #789
Oh interesting. From the message it seems that it could be due to mismatched filter name somewhere.

Can you share a small example file with us? For parsing issues we cannot debug without accessing the content. Thanks!

[2022-08-18 13:58] leewujung commented on #789
Ok that is unexpected! On which platform are you running this?

We are pretty tied up this week due to hosting a week-long workshop, so it may take some time before we can look into this.

[2022-08-18 13:59] erikatbeof commented on #789
Ubuntu 20.04.

[2022-08-18 15:38] emiliom commented on #789
I'll try to replicate the problem by early next week. I have Ubuntu 21 and 22. In the meantime, could you tell us whether you installed echopype using conda or pip?

[2022-08-18 20:04] erikatbeof commented on #789
I installed echopype using pip.

The problem thought seems to be related to xarray.Dataset.to_netcdf having trouble compressing unicode strings.

I modified the encoder in ~/echopype/echopype/utils/io.py save_file function to:

[code]

And that seems to solve the issue. If you think this is a viable modifications I can submit a pull request?

[2022-08-18 20:16] emiliom commented on #789
Thanks. One more request: which xarray version was installed when you installed echopype?

[2022-08-18 20:23] erikatbeof commented on #789
I tried version 2022.3.0 and 2022.6.0.

[2022-08-18 22:49] leewujung commented on #489
@b-reyes : I agree that we can close this issue now! I believe @imranmaj's changes addressed the AD2CP side of things, and irregular data like this is much less likely to happen for AZFP.

[2022-08-18 22:49] #489 closed

[2022-08-18 23:28] leewujung commented on #408
@b-reyes and I just talked about this: We think that this should just work, @b-reyes said he will test this and if it just works we'll close this.

[2022-08-18 23:46] leewujung commented on #725
This is addressed in #749.

[2022-08-18 23:46] #725 closed

[2022-08-18 23:46] leewujung commented on #708
This is addressed in #761.

[2022-08-18 23:46] #708 closed

[2022-08-19 00:24] leewujung commented on #578
A basic function for this functionality to take in depth_offset and tilt of the transducer is addressed by #738. Need to add functionalities to allow using data variables already stored in the EchoData object to add into the Sv dataset.

[2022-08-19 00:24] #578 closed

[2022-08-19 00:26] b-reyes commented on #766
@leewujung and myself just discussed a possible solution to this.

The first change we want to make is that `combine_echodata` has a required input, say `output_path` that says where the final form of the combined echodata objects should be stored. Additionally, we should require that this be a zarr file.

With this assumption, we have three scenarios for our input:

- all delayed echodata objects

[2022-08-19 00:31] leewujung opened #790 "Add option in `consolidate.add_depth` to use variables already in EchoData"
Right now `consolidate.add_depth` accepts only scalar inputs for input arguments `depth_offset` and `tilt`. However, these two variables can conveniently be DataArray with a time dimension. Or we may want to use the variables already stored in the EchoData object from which the Sv is derived from.

Relevant variables in the EchoData object are `water_depth`, `vertical_offset`, and `tilt` (AZFP onl

[2022-08-19 15:16] leewujung opened #791 "Create default artificial test objects/datasets"
Increasingly we have the need to unit test functionalities that are higher on the processing chain and many of the current tests right now need to go through the convert-->calibrate process before the actual functionality can be tested. This has a few drawbacks:
- hard to keep track of which test data files are used in what tests
- "real" data files do not allow the flexibility of testing what may

[2022-08-19 15:21] leewujung commented on #767
Hey @b-reyes: this is the main tracking issues for all the `combine_echodata` issues.

[2022-08-19 17:15] emiliom commented on #789
Thanks for all the helpful background information @erikatbeof. I'll get back to you in a couple of days with the results of my diagnostics.

[2022-08-22 23:46] emiliom commented on #789
Hi @erikatbeof . I've tested running the [echopype_tour.html](https://osoceanacoustics.github.io/echopype-examples/echopype_tour.html) notebook with a freshly created **conda** environment, and it worked w/o problems. This is on Ubuntu 22 (Pop!_OS 22.04, to be more precise; which is built on Ubuntu 22.04)

Here's exactly how I built the **conda** environment:
- Use the provided conda environment f

[2022-08-24 18:07] b-reyes commented on #408
I have looked into delaying the process of `open_raw` and `to_zarr` for a collection of files. In particular, I considered the 19 files obtained from our [Watching a solar eclipse](https://osoceanacoustics.github.io/echopype-examples/ms_OOI_EK60_mooringtimeseries.html) example notebook.

When setting `open_raw(offload_to_zarr=False)` (i.e. we DO NOT use the functionality introduced in PR #774) I w

[2022-08-25 05:30] leewujung commented on #408
Awesome, it's great to see that the new functionality in v0.6.2 _just works_ for delay/parallelizing the conversion! I think we can close this issue and utilize the results here and refine on the workflow side (I.e. in the recipe idea I mentioned a few times, we can make parallel conversion an option in the config for folks who need and have resources to do so.)

One thing we may want to revisit a

[2022-08-25 05:30] #408 closed

[2022-08-25 16:30] leewujung commented on #791
Focused on EK data for now:
- @lsetiawan : hackday chief, pytest fixture setup/modules
- @b-reyes : parsed output modules/functions
- @leewujung : irregularity in files

[2022-08-25 20:27] b-reyes opened #795 "Account for RAW4 datagrams in parsed to zarr method"
In PR #794, it was found that RAW4 datagrams are not being correctly handled in the parsed to zarr (P2Z) method introduced in PR #774.

The issue was discovered after running the EK80 file `raw4-D20220514-T172704.raw`. The issue with this file is the RAW4 datagram produces receive ping data and the P2Z method did not adequately address this. To fix this issue, we just need to rectangularize this d

[2022-08-25 23:33] IanTBlack opened #796 ""WindowsPath" object is not iterable"
I am trying to run through the [OOI EK60 Mooring Example](https://github.com/OSOceanAcoustics/echopype-examples/blob/main/notebooks/ms_OOI_EK60_mooringtimeseries.ipynb) and have received an error `"WindowsPath" object is not iterable` when running the line `ds_Sv = ep.calibrate.compute_Sv(ed)` in the "Convert Multiple Files" section.

I receive this error when running the example as a notebook in

[2022-08-26 21:21] b-reyes opened #798 "Improve and add documentation for `_clean_ping_time`"
In PR #297 we created the function [_clean_ping_time](https://github.com/OSOceanAcoustics/echopype/blob/828587df6f49c6b7e49cef6d4af9246fc2e0be19/echopype/qc/api.py#L4), but did not include documentation. This function involves a recursive call, so it is not apparent what is happening. After discussing this with @leewujung, we decided that it is important to include some documentation for this func

[2022-08-27 18:59] b-reyes commented on #798
@leewujung I was thinking about the `_clean_ping_time` function and I have constructed an alternative approach that avoids recursion, improves readability, and removes the need for a window.

The goal of this code is to create ascending values and preserve the step size (wherever possible). Below is my code/example to do this. If you think it is a good candidate to replace `_clean_ping_time`, I ca

[2022-08-27 19:54] leewujung commented on #798
Oh cool, thanks! Let me think through this and also read my own (undocumented) code...

[2022-08-29 18:00] b-reyes opened #800 "Issues with versioning in GitHub builds"
After merging #799, portions of our tests are failing. After looking into the failing tests, I found that when we install echopype on our GitHub builds, we get this strange versioning: `Successfully installed echopype-0.1.dev1+g8b7249c`. In the `EchoData` class we require a certain form for the versioning, see the below snippet.

https://github.com/OSOceanAcoustics/echopype/blob/8b7249ca06e7a4d91d

[2022-08-30 16:35] b-reyes commented on #705
This issue has been addressed via PR #797, I will go ahead and close it.

[2022-08-30 16:35] #705 closed

[2022-08-30 17:03] leewujung commented on #766
To clarify what I meant in #797 (below copy-pasting relevant section to avoid overhead to find things later):

Here's what I am proposing (and what I have always thought!):
- write in-memory data into the _final_ zarr location in parallel since we know the coordinate indices for all dimensions -- this is why we ask the user to supply the final zarr location in the first place. If you delay open_mf

[2022-08-31 15:14] leewujung commented on #800
@lsetiawan : just bringing this on your radar.

It should be straight forward to use regex instead of split to handle that string parsing. I am curious why the tests didn't have this problem before though -- did something change in the GH actions?

[2022-08-31 15:32] b-reyes commented on #800
@leewujung after looking through the code, I found that `EchoData.version_info` is only used in the function `ep_version_mapper.py`. Additionally, until #799 we had hard coded the version number to `0.6.0`, which does not cause an issue in the call `EchoData.version_info`.

[2022-08-31 15:39] b-reyes commented on #800
Yes, I agree. The best solution would be to make the GH actions install echopype with the version set as the most recent development version.

[2022-09-02 07:00] emiliom commented on #789
I've successfully run the notebook with a conda environment identical to the one I used before, except with echopype 0.6.2. Also created using `mamba`, as before.

[2022-09-02 11:06] erikatbeof commented on #789
I have not done much more on this lately. However I see you use Ubuntu version 22.04. I have only tried on 20.04 so fare. I will upgrade to 22.04 and let you know how it goes.

[2022-09-02 17:00] emiliom commented on #800
All the CI tests on PR #799 passed successfully. There are currently no open PR's that are recent, so I checked the most recent closed PR's. #797, closed 3 days ago, also passed all its CI tests.

I do see the incorrect echopype version string all throughout the "Install echopype" section in [this CI log](https://github.com/OSOceanAcoustics/echopype/runs/8096080641?check_suite_focus=true) in PR #7

[2022-09-02 17:13] b-reyes commented on #800
@emiliom all PR CI tests should work properly.  Locally, everything should be fine too (no bad string with pip install -e). It specifically happens when we merge into dev (I am not sure if it also happens with main or stable). You can see it failing in the GH actions for [build](https://github.com/OSOceanAcoustics/echopype/actions/workflows/ci.yaml).

[2022-09-02 19:21] emiliom commented on #800
Got it, thanks.

My observation about the version string being bad as far back as two months ago still applies, though. See this log in a successful build GH action from two months ago:
https://github.com/OSOceanAcoustics/echopype/runs/7133791409?check_suite_focus=true#step:12:22
The echopype version string in the log is "0.1.dev1+gaf68509.d20220630"

It's pretty odd that the same context leads to

[2022-09-02 19:45] emiliom commented on #789
I've run that notebook successfully with echopype 0.6.0 in Ubuntu 21 in the last 4 months (all with conda), in two different machines. I also ran it on earlier versions of echopype in Ubuntu 20, prior to that. I think others in the team have run it in other machines with different OS's. I really doubt it's an issue with the Ubuntu version.

Have you tried it on a conda environment? My best guesses

[2022-09-02 21:55] b-reyes commented on #800
I agree. On the bright side, it makes me think that there is hopefully a simple solution.

[2022-09-03 14:17] erikatbeof commented on #789
Thank for the simple example. I now work with a clean Ubuntu 22.04 installation. Still failing in the same way. Again, it seems as if xarray.Dataset.to_netcdf having trouble compressing unicode strings.

The problem is traced down to the 'sentence_type' dataarray, with dtype="U".

This simple freestanding code illustrates the problem:

[code]
Toggle between line 4 and 5.

Any ideas?

[2022-09-05 00:23] emiliom opened #801 "to_netcdf problem with echopype installed using pip install"
When using echopype installed using `pip install echopype`, there is a problem when saving an xarray dataset to netcdf. The problem involves the compression of unicode strings, and it's extraneous to echopype proper. It was reported in #789.

I'm describing the problem in more detail here, copying directly from that other issue. Both environments were created with echopype 0.6.2.

This simple free

[2022-09-05 00:25] emiliom commented on #789
Thanks for reporting your additional test with that simple code. That was very helpful. I've tested it using a Python environment where I installed echopype using pip install, and I was finally able to reproduce your error!

Here's how I created the environment that reproduced the error using your sample code, using `pip install`:

[code]

In contrast, when I created a simple environment using con

[2022-09-06 18:28] emiliom opened #803 "`source_filenames` issue tracking"
Tracking issues related to improvements and consistency in use of `source_filenames`. These issues are flagged for [Milestone 0.6.3](https://github.com/OSOceanAcoustics/echopype/milestone/25)

- [ ] #677
- ~~#678~~
- [x] #742

[2022-09-06 23:45] lsetiawan commented on #800
See https://github.com/OSOceanAcoustics/echopype/runs/8218144386?check_suite_focus=true#step:11:94. Now CI installs the correct version. Thanks for catching this.

[2022-09-06 23:45] #800 closed

[2022-09-08 17:23] leewujung commented on #796
Hi @IanTBlack : Could you let us know what echopype version you are using, whether you install echopype using conda or pip, and provide the full trace back error messages? These will help us with isolating the potential problem. Thanks!

[2022-09-09 00:29] emiliom commented on #677
I only see three options here, and none of them is great. For the case of applying `open_raw` on a single AZFP file:

1. Rather than than entering a single string for the data file (the file path, eg, "/my/path/17082117.01A"), enter a string array with both file paths (eg, `["17082117.01A", "17041823.XML"]`)
2. Introduce a new variable, say, `sourcemeta_filenames`, to hold the metadata/XML: "17041

[2022-09-09 03:23] leewujung commented on #677
I vote for 2. I think it is ok to have a new variable as long as it is clear what that is. I also like the part that it makes the core logic in `combine_echodata` intact.

For `sourcemeta_filenames`: in `combine_echodata` I suggest we use the same logic as `source_filenames` to store the combined outcome (whatever form that takes as part of the `source_filename` clean-up).

[2022-09-09 15:28] b-reyes commented on #677
@emiliom thank you for looking into this. From the options you have proposed, option 2 does seem to be the best solution.

For option 2, will the variable `sourcemeta_filenames` exist for the other sensors too? If so, what data will it hold? If this variable only exists for the AZFP sensor, then it might make more sense to have a more specific name for it. Maybe `source_xml_filenames`?

[2022-09-10 01:24] IanTBlack commented on #796
Echopype Version: 0.6.2
Install Method: pip

Full Traceback:
[code]

[2022-09-10 17:54] emiliom commented on #796
Thanks for that information and error log. I think I've found the source of the problem. I believe we'll need to handle `WindowsPath` in this line:

https://github.com/OSOceanAcoustics/echopype/blob/6276f6c693f9c5a05e3e162d0ef1648e17d447e3/echopype/utils/prov.py#L49

You're running on Windows, right? Are you able to run the the two other notebooks in https://osoceanacoustics.github.io/echopype-exa

[2022-09-13 00:22] emiliom commented on #677
Thanks to both! I'll implement this ("option 2").

As for the name of this new variable, I proposed `sourcemeta_filenames` as something generic not tied to one specific file format (XML) so it can be reused with any potential -- but unspecified! -- future instruments that also use an external metadata file. Right now this is hypothetical, since AZFP is the only such implementation we have and it's

[2022-09-13 00:27] leewujung commented on #677
Somehow l like `meta_source_filenames` better, but I am fine either way.

I like the option of only include this variable only if it is used....

[2022-09-13 17:38] b-reyes commented on #677
@emiliom I am fine with the names you have proposed based on your explanation. I would suggest that we add some attribute that explains the contents though? Maybe we can have some variation of the following comment attribute:

[code]
or
[code]
I would like this to be more specific (the second option) and change with regards to the instrument, but that seems to go against what you said above.

I ag

[2022-09-14 00:41] emiliom commented on #677
From #806: Change `filenames.long_name` to something like "Index for data source file names", to ensure `long_name` is no longer exclusively tied to `source_filenames`

[2022-09-16 16:53] b-reyes opened #809 "Create version converter beyond v0.6.0"
In some PRs/issues we have made or will make some small changes to the `EchoData` structure e.g. #677, #806. Since we made these changes, the mapping of v0.5.x to v0.6.3 will be outdated and changes will need to occur in [ep_version_mapper.py](https://github.com/OSOceanAcoustics/echopype/blob/dev/echopype/echodata/sensor_ep_version_mapping/ep_version_mapper.py). I suggest that we add a new routine

[2022-09-16 17:02] b-reyes opened #810 "Account for `conversion` -> `combination` change in `Provenance` attribute"
In PR #806 `conversion` was changed to `combination` in `combine.py`. This causes issues when displaying a combined file because we specifically obtain the version from the `Provenance` attributes:

https://github.com/OSOceanAcoustics/echopype/blob/47b827a927f73b7e00f3a27e48b6509037a1732a/echopype/echodata/echodata.py#L183-L186

I don't believe this will causes issues with other portions of the co

[2022-09-16 20:18] emiliom commented on #810
Based on discussion in #811, I'm changing the Milestone tag to 0.6.4

[2022-09-17 00:05] b-reyes opened #815 "Unordered `channel` coordinate"
Recently I attempted to combine narrowband EK80 files from noaa-wcsd-pds. While doing this I found that the files had the same channels, but the ordering of these channels were different. For example, the `channel` coordinate had the following values for two different raw files:
[code]

From my understanding, this is purely caused by how we handle the parsed data (@emiliom or @leewujung can you co

[2022-09-17 04:02] leewujung commented on #815
I think it is probably fair to say that it is determined by what the order is in the first set of datagrams for all channels. This order can change depending on which one is sent by the instrument first.

I think it is possible to short circuit this by figuring out the channel sequence when you have the individual datasets/groups, and just write that in the "right" order, since you can control whi

[2022-09-17 20:21] leewujung opened #816 "A `CombinedEchoData(EchoData)` class?"
Context from #814: Previously in https://github.com/OSOceanAcoustics/echopype/pull/797#issuecomment-1229790414 I had some thoughts about creating an `CombinedEchoData(EchoData)` object that inherits from the `EchoData` object. I think this can help manage the confusions/problems we have with the `source_filename` attributes.

@emiliom @lsetiawan @b-reyes : Interested in your thoughts on this. My u

[2022-09-19 16:31] b-reyes commented on #816
From my current understanding, my implementation will eventually become the only approach used after we depreciate the old combine method. If this is the case, I am not quite sure it makes sense to inherit the `EchoData` class and have `CombinedEchoData(EchoData)`. The way my approach works is that we write the combined files to a zarr and then open the zarr store using `ep.open_converted` and ret

[2022-09-19 16:38] b-reyes commented on #815
Yes, I agree that it is not absolutely necessary and we could do what you are suggesting here. The downside is this may not be efficient because it could introduce more IO. I suggest we avoid this situation unless a user specifically asks for this type of functionality to be added (I could see something like this being useful).

I agree, hopefully it will not take too much time and it will improve

[2022-09-19 16:38] leewujung commented on #816
@b-reyes : I definitely don't think we need to keep the old combine functions at all! what I meant is that the functions you are working on that are specifically to the `combine_echodata` function, which performs the combinations and also specifically dealing with the attributes (in the next release) can be cleanly separated by returning an inherited class. This way we have clean separation of wha

[2022-09-19 16:43] b-reyes commented on #816
Ok, now I think I see what you are saying. I will have to think about this a little more, but I do see there are some advantages here.

[2022-09-19 16:47] leewujung commented on #816
Sounds good. There must be some ramifications and I will think on this some more too.

[2022-09-20 00:06] emiliom commented on #816
That's an interesting suggestion. The advantages you list boil down to a certain tidiness to where the combine functionality would be found (as elements of the `CombinedEchoData` class), and a potentially cleaner and more reusable (or at least "inspectionable", to make up a word)  way of defining and handling the special, extra Provenance information (relative to SONAR-netCDF4, as found in the cur

[2022-09-20 19:53] emiliom commented on #742
#803 already addressed this issue. I'm closing it.

[2022-09-20 19:53] #742 closed

[2022-09-21 11:11] erikatbeof commented on #801
@emiliom Is anyone looking into this?

[2022-09-22 15:58] leewujung commented on #815
This has been addressed in #818.

[2022-09-22 15:58] #815 closed

[2022-09-22 16:43] leewujung commented on #816
We discussed this and decided that we will NOT create a separate `CombinedEchoData` class but will do the following:
- add a attribute in the `Provenance` group to signify that the dataset is resulted from combining multiple EchoData object
- potentially implement additional functions to sort through the `Provenance` attributes in later releases

[2022-09-22 17:23] leewujung commented on #816
I'll close this based on the above decisions.

[2022-09-22 17:23] #816 closed

[2022-09-22 18:03] emiliom commented on #677
In PR #814 there is a helpful discussion about downstream propagation of the path(s) coming from `xml_path`, in `combine_echodata` and calibration functions. Those tasks will not be handled in the upcoming release (0.6.3), but we'll come back to them afterwards.

[2022-09-22 18:15] leewujung commented on #809
We discussed this briefly in the meeting today and there is a broader and a narrower interpretation of this:
- narrow: there are changes that involve adding new variables, either data variables or coordinates, such as those arise from the `source_filenames` overhaul and the addition of `meta_source_filenames`
- broader: we are likely going to continue adding/changing some variables, especially alo

[2022-09-22 18:50] b-reyes opened #819 "Consider allowing `combine` to accept different sized `channel` dimensions"
In PR #808 it was found that some files from `noaa-wcsd-pds/data/raw/Bell_M._Shimada/SH1701/EK60` can have different sized `channel` dimensions. In PR #808 we will not allow these types of files to be combined, but we do see that there is value in allowing for these types of files to be combined. Thus, we need to discuss the possibility of allowing missing channels amongst the datasets being combi

[2022-09-22 19:01] leewujung commented on #819
I am thinking that, in this release (v0.6.3), we can default to raise an error if the `EchoData` or files to be combined have different number of channels, or if the number of channels is the same but the `channel_id` do not match exactly.

In a later release, I agree with your suggestion on letting people select which subset of channels they would like to combine or allow to expand. Using the exa

[2022-09-23 06:48] emiliom commented on #801
Not yet. Have you tried using conda?

[2022-09-26 23:07] leewujung commented on #677
@b-reyes and @leewujung decided to merge #814 first without this last comment https://github.com/OSOceanAcoustics/echopype/pull/814#pullrequestreview-1120520503 is addressed. Noting it here so that it can get picked up later.

[2022-09-29 21:12] emiliom commented on #677
Here's the comment @leewujung referred to:

`utils/prov::source_files_vars` returns 3 single-element dicts with keys almost identical to the names of the dicts, and values being tuples that can be passed in to construct xarray dataArrays. Why not just a single dict with those same key-value pairs? The downstream code don't seem like would be impacted much.

I don't remember, off the top of my head

[2022-09-29 21:15] emiliom commented on #803
Issue #677 is not closed yet, but the main tasks laid out there were already implemented in #814. Later on I'll create a new issue stemming from #677 but focused on downstream provenance propagation and related house keeping.

I'm closing this tracking issue.

[2022-09-29 21:15] #803 closed

[2022-09-30 03:33] leewujung commented on #798
Linking to https://github.com/OSOceanAcoustics/echopype/pull/808#discussion_r984074790 so that we remember to add explanation of how we correct for the reversed time in the documentation and link in the `combine_echodata` docstring.

[2022-09-30 15:40] b-reyes opened #821 "Rename `set_encodings`"
Currently, we have a function called [set_encodings](https://github.com/OSOceanAcoustics/echopype/blob/d474a1ea1874f0c1aabb4b9b4de16f88cb174381/echopype/utils/coding.py#L50-L53) that only sets time encodings. The name suggests that more than time encodings are being set and for this reason, I think it is better to rename this function. I suggest we call it `set_time_encodings`.

[2022-09-30 17:41] b-reyes opened #822 "Fix data corruption created by PR #808"
As discussed in a [PR 808 comment](https://github.com/OSOceanAcoustics/echopype/pull/808#issuecomment-1261235899), the combine method constructed will introduce data corruption. This is caused by competing processes attempting to write to the same chunk in the final combined zarr store. To fix this issue, we just need to use Dask Locks to prevent multiple processes from writing to the same chunk a

[2022-09-30 17:46] b-reyes opened #823 "Modify `test_combine_echodata` so it works with the changes introduced in #808"
As discussed in a [PR 808 comment](https://github.com/OSOceanAcoustics/echopype/pull/808#issuecomment-1260246583) all current tests for `combine_echodata` are working except `test_combine_echodata`. We are currently xfailing this test, but it is important that we get this test working before the release. I am creating this issue as a reminder of this task.

[2022-10-04 17:28] b-reyes opened #825 "Temporary directory deletion with `open_raw` and `offload_to_zarr=True`"
When we use `open_raw(offload_to_zarr=True)`, a temporary directory is created using `tempfile.TemporaryDirectory()`. Recently, I took a look at the path where these temporary directories are stored and I found that I had accumulated several of these directories and they were not deleted. These should be deleted once all references to the `TemporaryDirectory` are gone and this should happen when a

[2022-10-04 19:26] leewujung commented on #825
@b-reyes and @leewujung just discussed this. We thought that we can circumvent this problem by the following:
- instead of using `tempfile` to create a temp directory, we create a subdirectory `SUB_NAME` under the default `temp_echopype_output` and put the temporary zarr files there.
- the zarr files will be named something like `temp_gf6f78dghjfdk.zarr` and get removed if users remove the `EchoDa

[2022-10-04 20:43] b-reyes opened #827 "Investigate memory usage of `ZarrCombine`"
When first creating the `ZarrCombine` class, it was found that combining a large number of files could lead to a substantial increase in memory usage. In PR #824 the class variable `max_append_chunk_size` was created so that we could limit how large the chunks could get and this limitation curbs the increase in memory usage. Currently,  we have set `max_append_chunk_size=1000`, however, no real st

[2022-10-04 20:50] lsetiawan commented on #827
Perfect that you created this issue! I am currently reviewing #824 and looked at the combined echodata object. Here's an example of one of the data array from the Beam group:
![Screenshot from 2022-10-04 13-44-15](https://user-images.githubusercontent.com/17802172/193924173-b6ff21fb-a0d2-4714-a146-e5e2e8ae0dc7.png)
The new `combine_echodata` method works great so far, however, the chunk sizes are

[2022-10-05 21:45] emiliom opened #831 "Develop tests for prov module, specially for source file name functionality"
- From @lsetiawan in PR #829: I realized that we don't have a test for the [utils/prov.py](https://github.com/OSOceanAcoustics/echopype/blob/dev/echopype/utils/prov.py), maybe this will be great for our testing creation session in the future :smile:
- From @emiliom in PR #814: While creating this PR and https://github.com/OSOceanAcoustics/echopype/pull/806, I've thought about tests. There are no t

[2022-10-05 21:49] emiliom commented on #796
This bug has been fixed in the `dev` branch; see PR #829. It'll be part of the next echopype release.

@IanTBlack thanks again for reporting this!

[2022-10-05 21:49] #796 closed

[2022-10-06 18:05] leewujung commented on #798
@b-reyes and @leewujung discussed and identified the following to be resolved for `_clean_ping_time`:
- `local_win_len` is necessary to estimate an approximate regular timestamp interval to correct for the reversal problem.
  -  bug needing fix: the current implementation does not check for out of bound error when the reversal happens near the beginning and end of the file.
- Handling _many_ rever

[2022-10-06 18:13] leewujung opened #833 "Remove timestamp correction from `combine_echodata`"
@b-reyes had a great insight that the reason why we currently (up until v0.6.2) have detection and correction of reversed or duplicated timestamps (`ping_time`, `time1`, etc) in `combine_echodata` was because we have been using xarray's merge function to combine multiple `EchoData` objects.

With @b-reyes new implementation to efficiently distribute data combination directly leveraging dask/zarr f

[2022-10-06 18:56] lsetiawan opened #834 "`ValueError` during compute_MVBS"
## Overview

`ValueError` was discovered while running the [OOI_EK60_mooringtimeseries](https://osoceanacoustics.github.io/echopype-examples/ms_OOI_EK60_mooringtimeseries.html) example notebook during a review of #824.

## Troubleshooting

While my initial thought of this issue was caused by the new `combine_echodata` method, further investigation suggest that this issue started appearing in versi

[2022-10-06 20:56] leewujung commented on #834
It seems that I had some bug in there... 😞

[2022-10-07 00:02] b-reyes commented on #833
@leewujung thank you for your description above.

In addition to the removal of the check from `combine_echodata`, we should also do the following:
- Remove `ek60_reversed_ping_time_test_data` and `test_ping_time_reversal` functions from `test_echodata_combine`
- Remove params corresponding to reversed times in `test_combine_echodata` and special exceptions for it
- Allow the run of `param_id = "e

[2022-10-07 00:38] b-reyes commented on #825
@leewujung if you think PR #832 adequately addressed this issue, please feel free to close it.

[2022-10-07 02:29] #825 closed

[2022-10-07 23:01] b-reyes commented on #822
PR #824 addressed this issue, closing.

[2022-10-07 23:01] #822 closed

[2022-10-07 23:32] b-reyes commented on #823
PRs #830 and #824 addressed this issue, closing

[2022-10-07 23:32] #823 closed

[2022-10-08 00:27] leewujung opened #836 "Update `combine_echodata` documentation"
With the awesome changes in #808 and #822, now we need to update the documentation in the following areas:
- [ ] inform users of the new functionality to perform out of core computation to combine a large number of files at once
- [ ] mention that users should give a final path for the resulting zarr file
- [ ] detail the change of how we handle reversed timestamps (`ping_time`, `time1`, etc) -- b

[2022-10-08 01:43] leewujung commented on #798
Hey @b-reyes : I finally read through the code you have above -- it is a wayyy better implementation than my recursive function, so I think we should use this.

For this part:
[code]
I think it may be better to use the index before the negative jump (`neg_ind - 1`) to fill in the value.
This way the scenario of having `neg_ind + 1 > len(arr_diff)` also would not happen.

For this other question:
[

[2022-10-08 14:50] leewujung commented on #834
This turns out to be due to something else all together:

The extra `NA`s causes `_check_range_uniqueness` to return False because the the `echo_range` contains an all-`NA` ping unexpectedly. In #837 I drop the `NA`s in `Environment/SOME_VAR` before the interpolation.

This also highlights the pretty urgent need for better tests for our processing code....

[2022-10-08 15:28] leewujung commented on #834
Also relevant here is that `preproces/api.py::_check_range_uniqueness` is actually a limiting factor of the current `compute_MVBS` that should be removed, because changes in `echo_range` is expected and pretty common. See #662.

There is also efficiency issues in `compute_MVBS` at the moment if the data is delayed. For the 19 files in the OOI eclipse notebook, if I persist the `ds_Sv` data in memo

[2022-10-10 16:37] b-reyes commented on #833
PR #835 addressed this issue by removing the time correction in `combine_echodata` and moving useful functions to `qc/api.py`, closing.

[2022-10-10 17:29] b-reyes opened #839 "Incorrect behavior of `check_zarr_path` for `zarr_path=None`"
In `check_zarr_path` we do checks that make sure the provided `zarr_path` is a string and has the appropriate suffix. However, these checks will fail if `zarr_path=None`. We need to make changes in the following if statements:

[code]

[2022-10-10 17:50] leewujung commented on #839
Yes, also I think it'll be nice to accept `pathlib.Path` on local machines. I had to use `str()` to use it.

[2022-10-10 17:59] erikatbeof commented on #801
I went through the process installing conda. Fail to run the demo, echopype_tour.ipynb, though:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Input In [1], in <cell line: 5>()
      2 from pathlib import Path
      4 import fsspec
----> 5 import geopandas as gpd
      6 import xarray as xr

[2022-10-10 20:36] b-reyes opened #841 "Allow for `pathlib.Path` input in `combine_echodata`"
Currently we require that the input `zarr_path` in `combine_echodata` is a string. For convenience, we should also let `zarr_path` be of type `pathlib.Path`.

[2022-10-10 20:39] b-reyes commented on #839
As we discussed, we will not accept `pathlib.Path` right now. I have created issue #841, which reminds us to implement this in the future.

[2022-10-11 01:46] leewujung commented on #801
@erikatbeof : not sure what you're running into there. Try `conda list` to see if you actually have `geopandas` in your environment since the error message is not finding the module.

[2022-10-11 06:12] erikatbeof commented on #801
I tried that, -of course, and it's not installed. But I got the impression that using conda would be a easy, a 'one' line solution. It appears not to be. In the contrast codas is clunky. I advise you to make your code working well with pip -an abandon conda.

[2022-10-11 15:42] leewujung commented on #801
Heh, I don't think abandoning conda is the right solution, and if you are reluctant to fix your environment it is your choice though unfortunate.

The problem you're running into is external to the echopype codebase. It is between xarray and netcdf4. To see that, create the following environment that has nothing to do with echopype:

[code]

Once you have this, do the following like in the first c

[2022-10-11 17:09] emiliom commented on #801
Thank you @lsetiawan ! Your PR #843 (pinning netcdf4 to <1.6) fixes the issue. This fix will make it into the next echopype release, so that `pip install echopype` should work out of the box because it'll install a version of netcdf4 that doesn't introduce this problem.

[2022-10-11 17:14] lsetiawan commented on #801
Currently now, when I install echopype `dev` branch, the problem doesn't show up:

![Screenshot from 2022-10-11 10-13-22](https://user-images.githubusercontent.com/17802172/195157021-b24022c4-9d3c-400c-ac4a-8ab7dad49712.png)

[2022-10-11 17:25] b-reyes commented on #839
PR #840 addressed this issue, closing.

[2022-10-11 17:25] #839 closed

[2022-10-11 20:20] leewujung commented on #834
Closing this as it has been addressed by #837. I'll open a new issue for improving the performance of `compute_MVBS`.

[2022-10-11 20:20] #834 closed

[2022-10-11 20:24] leewujung opened #845 "Leverage dask directly to improve `compute_MVBS` efficiency"
During investigation of #834, I found an efficiency issue in the current implementation of `compute_MVBS` if the data is delayed. For the 19 files in the OOI eclipse notebook, if the ds_Sv data are persisted in memory it takes 5 mins to compute, but if ds_Sv is lazy-loaded the operations never finished.

Further investigation by @b-reyes showed that the xarray groupby_bins operations are the major

[2022-10-12 02:01] SinanGISP opened #846 "No `channel_id ` in `zarr_datagrams`"
I receive this error:
    ch_id = datagram["channel_id"] if "channel_id" in datagram else datagram["channel"]
KeyError: 'channel'

when i ry to use open_raw. any idea?

[2022-10-12 04:09] leewujung commented on #846
@SinanGISP : Can you post the code you used, the error messages, and a sample file? The one line you posted does not give enough information for understanding the problem you have.

[2022-10-12 12:39] SinanGISP commented on #846
thank you for your reply.
The code I used:
`import echopype as pe
from echopype import open_raw
file = "file_name.raw" # sample file https://drive.google.com/drive/folders/1tv1tM-qoCx2G9LR5h-UjG6516ACCwU2T?usp=sharing
ed = open_raw(file, sonar_model='EK60')'

[2022-10-12 17:04] #789 closed

[2022-10-12 17:11] leewujung opened #847 "Create issue template for "my files don't convert" problems"
We see "my files don't convert" issues pretty frequently.

It will be nice if folks having this type of issues provide us a list of things that will help with debugging:
- echopype version and how it was installed (e.g., conda or pip)
- computing environment
- minimum reproducible code snippet that generate the error
- error message printout
- link to an example file (as small as possible)

I adde

[2022-10-12 20:22] leewujung commented on #478
Close because this is duplicate of  #593 -- an indication that this has dragged too long!

[2022-10-12 20:22] #478 closed

[2022-10-12 20:34] b-reyes commented on #484
@leewujung I did a quick search and we are not really using `DEFAULT_CHUNK_SIZE` anymore. It is used in a couple of spots, but they are currently commented out. Also, it is still defined in two places. I do not plan on using this in `combine_echodata`.

[2022-10-12 22:01] leewujung commented on #484
So we can just remove this completely then?

[2022-10-12 22:08] emiliom commented on #484
Looks like we should

[2022-10-12 22:08] b-reyes commented on #484
If you are asking if we can remove `DEFAULT_CHUNK_SIZE`, then yes. We can definitely remove this.

[2022-10-12 22:11] leewujung commented on #484
Yes. Could you please submit a PR to remove that? Thanks!

[2022-10-13 01:42] leewujung commented on #766
Seems like we are ready to close this? @b-reyes @lsetiawan

[2022-10-13 01:45] leewujung commented on #704
@b-reyes : I believe you have already address this in the recent combine_echodata PRs

[2022-10-13 01:47] leewujung commented on #678
@emiliom : this has been addressed in the recent PRs, is this correct?

[2022-10-13 02:08] leewujung commented on #677
The core issue of this is address, but we need that final change to make the code cleaner. @emiliom : do you want to do that now before we forget?

[2022-10-13 02:10] leewujung commented on #271
Let's investigate this as part of the test overhaul in 0.6.4, but not delaying this further so that we can once and for all be happy that we don't have LFS constraints anymore.

[2022-10-13 04:20] emiliom commented on #677
Yeah, I'll do this by tomorrow

[2022-10-13 07:33] emiliom commented on #678
It wasn't addressed, not quite. We decided this was an edge case (combining two or more datasets that are already the result of combine operations) that we were not going to address.

I suggest we close the issue, though.

[2022-10-13 15:00] leewujung commented on #678
@emiliom : Thanks. Could you create an issue to make sure that we don't forget about that, and close this issue?

[2022-10-13 15:51] b-reyes commented on #704
@leewujung yes, I do address this in my recent `combine_echodata` PRs. The key `concat_dims` in `SONAR_MODELS` within `echopype/core.py` is no longer used. In fact, we should remove this. I can create a PR to do this right now.

[2022-10-13 15:53] lsetiawan commented on #233
@b-reyes consolidated needs to be True for zar to consolidate. I think all you need is to make sure that every Dataset.to_zarr has the consolidate=True flag. Shouldn't be much to address for this upcoming release.

[2022-10-13 16:03] b-reyes commented on #766
I believe the recent fixes to `combine_echodata` address this issue.

[2022-10-13 16:28] leewujung commented on #233
From discussion: we will set it up that all `.to_zarr/netcdf` will default to `cnosolidated=True`, but users will be able to pass in kwargs to optionally overwrite the default operation.

[2022-10-13 16:33] leewujung commented on #766
From discussion: The last thing to do is to check that this works on binder.

[2022-10-13 16:37] emiliom commented on #678
We've clarified the primary use case where this issue would be important: when "appending" a new, converted file to a pre-existing combined file. For example, in a continuous monitoring deployment, where new files are generated continuously and a combined file is maintained and updated by appending each new file as it's generated.

We will address this issue in the next release, 0.6.4.

[2022-10-13 16:56] leewujung commented on #845
Temporary fix? @lsetiawan will try to see if we can delay the function for now to allow this to run through.

[2022-10-13 17:00] emiliom commented on #836
https://echopype.readthedocs.io/en/stable/open-converted.html#combine-echodata-objects

[2022-10-13 18:59] leewujung commented on #846
@SinanGISP : It is important that you provide the requested information. Here I was able to test the file you provided to identify the cause of the problem, but it would have been much more efficient if you copy-pasted the error messages in the first place. We often are not able to prioritize solving problems specific individual files have.

@b-reyes : I looked into this file and the error actuall

[2022-10-13 21:27] b-reyes commented on #484
In PR #848 we have removed `DEFAULT_CHUNK_SIZE`, so this issue is no longer necessary. I will go ahead and close it.

[2022-10-13 21:27] #484 closed

[2022-10-13 21:48] b-reyes commented on #704
PR #849 removed `concat_dims` and `concat_data_vars` from `SONAR_MODELS`. For this reason, this issue is no longer relevant. I will go ahead and close it.

[2022-10-13 21:48] #704 closed

[2022-10-14 00:59] #847 closed

[2022-10-14 18:57] SinanGISP commented on #846
I am sorry for my late response. below is the full error message:

Traceback (most recent call last):
  File "~\EK60.py", line 5, in <module>
    ed = open_raw(file, sonar_model='EK60')
  File "~\AppData\Local\ESRI\conda\envs\arcdev\lib\site-packages\echopype\convert\api.py", line 488, in open_raw
    parser.rectangularize_data()
  File "~\AppData\Local\ESRI\conda\envs\arcdev\lib\site-packages\ech

[2022-10-15 18:45] leewujung opened #857 "Remove remnant unused "ALL" param in parser object"
We decided (and implemented) a few releases ago that we will NOT allow selective parsing of only a subset of EK60/EK80 datagrams. However the old selector `self.data_Type = "ALL"` is still present in the code and causing confusion. Let's remove it.

[2022-10-15 21:19] emiliom commented on #677
Completed in PR #852. Closing

[2022-10-15 21:19] #677 closed

[2022-10-15 21:21] leewujung commented on #766
This works on binder even with its limited memory, closing now!

[2022-10-15 21:21] #766 closed

[2022-10-15 21:22] leewujung commented on #767
#678 will be resolved later. All other tasks are completed.

[2022-10-15 21:22] #767 closed

[2022-10-15 21:22] leewujung commented on #836
This is addressed in #854. Closing.

[2022-10-15 21:22] #836 closed

[2022-10-15 22:44] leewujung commented on #801
This is resolved now. Closing.

[2022-10-15 22:44] #801 closed

[2022-10-19 22:53] emiliom opened #872 "Memory consumption and accumulation, and performance issues, in v0.6.3"
When re-running and updating the [echopype-examples "hake" notebook](https://osoceanacoustics.github.io/echopype-examples/ms_PacificHake_EK60_cruisetracks.html) with echopype 0.6.3, I found that in the main data processing for-loop (in [section 2.3.1](https://osoceanacoustics.github.io/echopype-examples/ms_PacificHake_EK60_cruisetracks.html#echopype-processing)), the processing sequence of `open_r

[2022-10-24 17:14] leewujung commented on #846
Hi @SinanGISP : just realized that we haven't circled back to you on this. This issue your file made apparent was addressed in the most recent release v0.6.3. Please give it a try and let us know if you continue to see problems. Thanks again for reporting this issue!

[2022-10-24 17:15] #846 closed

[2022-10-24 20:16] SinanGISP commented on #846
Hi @leewujung: still having the same id-channel error with echopype v0.6.3
Traceback (most recent call last):
  File "~\Local\ESRI\conda\envs\arcdev\lib\site-packages\IPython\core\interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-10-0de96b139dc5>", line 1, in <module>
    ed = open_raw(file, sonar_model='EK60')
  File "~\Local

[2022-10-24 20:25] b-reyes commented on #846
Hello @SinanGISP. While I was looking into this error I found that the data within the file you provide above is not consistent with EK60 data. From my review, it appears that it is EK80 data. With echopype v0.6.3, could you instead do the following:
[code]

If you are still having issues, please let us know.

[2022-10-24 21:29] leewujung commented on #846
Oh right, thanks @b-reyes , I completely forgot to mention this important detail!

[2022-10-31 14:42] leewujung opened #875 "Overhaul calibration code"
There are a number of issues with the current calibration implementation -- listed below and will be updated as we progress. Now that we've gotten the data format settled down, it's time to carefully review and overhaul this part of the codebase.

### Issues tracked:
- [x] #743
- [ ] #702
- [x] #737
- [x] #458
  - I think this is already addressed, but let's review and make sure of it
- [x] #308
-

[2022-11-14 05:00] leewujung commented on #671
@b-reyes : could you take care of this and #625? The description are very similar and probably is a duplication or heavily overlap. Thanks.

[2022-11-14 05:05] leewujung commented on #841
@b-reyes : this seems a small standalone issue that can be taken care of at this point, so I just assigned this to surface this to your radar.

@lsetiawan: also pinging you in case you have suggestions or direct pointers from your other work.

[2022-11-14 05:21] leewujung commented on #810
This seems also an issue that we are in a position to address once and for all.

[2022-11-14 21:49] b-reyes commented on #671
I have looked back into this and it seems this issue is specifically discussing changes to the beam group descriptions. On the other hand, #625 is more concerned with where the repr pulls the beam group descriptions from.

To proceed with this issue, I think it is good to have @emiliom review my proposed solution above. If he thinks the solution is appropriate, I will implement it. In the meantime

[2022-11-15 00:00] emiliom commented on #671
Yeah, this issue is specifically about the beam group description text that is inserted into the EchoData object during `open_raw`, for EK80.

@b-reyes I think your solution is mostly there. It looks like the very last part, the change to `set_groups_ek80.set_sonar`, needs some work. First, obviously, the method argument needs to change to something like this:
[code]
(I'm not sure about the argume

[2022-11-15 00:24] b-reyes commented on #671
Yes, it does appear that I have not properly handled these cases. If we agree with this `beamgroups_possible` form, I will make changes to that code snippet.

I agree that this is not ideal. Do you have a better solution in mind?

From my understanding we will be getting the beam_group descriptions from `ed['Sonar'].beam_group_descr` (see [comment](https://github.com/OSOceanAcoustics/echopype/issu

[2022-11-15 20:22] emiliom commented on #671
Well, I don't have an alternative suggestion, so I guess that's the way forward!

See above :wink: . All I can think of is to reproduce the new dict structure you're proposing for `beamgroups_possible` with the other sonar models. That would maintain consistency, at the cost of verbosity in the code. It doesn't seem worth it.

Right! I'd read that but hadn't fully assimilated what you were saying.

[2022-11-15 21:43] b-reyes commented on #671
@emiliom sounds good. Based on your comments, to address this issue (#671) we will use the above form for `beamgroups_possible` for EK80 only and keep the same form for the rest of the sonar models. If this is the case, I can start working on this issue and I will make sure to take into account the beam group type in the final block of my suggested code above.

@emiliom it seems like we have also

[2022-11-15 21:47] emiliom commented on #671
Yes.

Yes, but let's shift that conversation back to #625, where it belongs.

[2022-11-18 18:14] b-reyes commented on #625
PR #880 addresses this issue, closing.

[2022-11-18 18:14] #625 closed

[2022-11-18 21:40] leewujung commented on #819
In Nov 18 meeting:
- We decided that we will implement the "subset" only first, since allow for the subsetting is important for our current needs and it should be straightforward to implement.
- The "expansion" will take a bit more work and easily risks killing the user's machine, so let's delay that for now.

[2022-11-18 21:57] emiliom opened #882 "Expand set of attributes that can be different across files when using combine_echodata"
Starting with 0.6.3 when `combine_echodata` was overhauled, a strict check of input converted files includes a check on nearly all attributes (global *and* variable attributes?) to verify that they're identical; if they're not, the combine step fails and an error is reported.

For some attributes, specially global attributes, there may be valid reasons why the string attribute values are different

[2022-11-19 01:00] lsetiawan opened #883 "Using tempfile on Windows seems problematic"
## Overview

As seen on PR #879 `test_utils_log.py` tests fails when using `TemporaryDirectory`. The error occurs when the built-in `tempfile` package tries to clean up the directory, see call stack:

[code]

the errors are all coming from builtin functions.

With this in mind, it might be best to create a temporary directory ourselves, maybe in the user directory.

[2022-11-22 17:08] b-reyes opened #884 "Review test structure for converting older `EchoData` forms to the current `EchoData` form"
Changes completed in PR #881 have prompted discussion on what is the best solution for testing the conversion of files produced by older versions to the current version. Right now, the testing of conversion of versions less than `v0.6.0` to the current version is done by reading in a `v0.5.x` form of the `EchoData` object, converting it, and comparing it to a generated netcdf file that is supposed

[2022-11-23 01:29] leewujung commented on #883
@lsetiawan : this is just for tests, right? If so, we can address this as part of the test overhaul, which perhaps we use  the approach you said to create a temp directory ourselves.

[2022-11-24 18:32] leewujung opened #886 "Require destination path when using `open_raw(..., offload_to_zarr=True)`"
Currently when using `open_raw(..., offload_to_zarr=True)` a temporary zarr store is created in the "local" path to handle potential large expansion of memory for .raw files with irregular shape across pings or across channels (e.g., a common case is when only one channel is splitbeam and produces athwartship/alongship data). This is potentially problematic in a cloud environment due to the requir

[2022-11-24 18:33] leewujung commented on #872
The compute_MVBS efficiency issues are resolved by #878 .

[2022-11-24 18:34] leewujung commented on #845
This is now addressed in #878.

[2022-11-24 18:34] #845 closed

[2022-11-24 18:35] leewujung commented on #662
This is now addressed in #878.

[2022-11-24 18:35] #662 closed

[2022-11-24 18:35] leewujung commented on #841
This is now addressed in #879.

[2022-11-24 18:35] #841 closed

[2022-11-24 18:36] leewujung commented on #671
This is now addressed in #671 .

[2022-11-24 18:36] #671 closed

[2022-11-24 18:45] leewujung commented on #176
I think this long-standing issue can be closed now for the following reasons:
- The improved `compute_MVBS` function allows varying `echo_range` parameter across ping time.
- The "unlucky" situation where small temperature variation results in an extra bin along `echo_range` is unavoidable and is something the users should make a conscious decision on -- whether they want to use a uniform temperat

[2022-11-24 18:45] #176 closed

[2022-11-24 18:48] leewujung opened #887 "Allow passing in `cal_params` in calibration functions"
Currently the echopype calibration functions use the calibration parameters stored in the data files, even though we allow passing in environmental variables in the calibration. Right now this can be done by modifying the calibration parameters stored in the `EchoData` object, but it is not convenient. Accepting calibration parameters in a flexible and convenient manner is a critical use case we s

[2022-11-24 19:37] leewujung opened #888 "Further improve `compute_MVBS` in computation across ping time and channel"
The efficiency of `compute_MVBS` was enhanced in #878, but the current implement may be inefficient if the data is very large -- although @b-reyes and I agreed that the current implementation is "good enough" for the couple use cases we are considering. Nevertheless, our thoughts are documented below.

### Binned averages across ping time
In #878 the major efficiency bottleneck for computing MVBS

[2022-11-28 18:13] leewujung opened #889 "Create and move functions to `commongrid` and `clean` subpackages"
**UPDATE, 3/20/2023:** We've settled on `commongrid` instead of `unify`. Also, expanded this issue to include moving the noise functions to the new `clean` subpackage (which we initially had named `filter`).

To manage functions that all could be called as "processing" or "preprocessing" type, in #817 we laid out some subpackage organizations. This issue addresses one of them, to create a new subp

[2022-11-28 18:22] b-reyes commented on #819
Based on a discussion between @leewujung and myself, we will first complete the following changes that partially address this issue:
- Add the keyword argument `channel_selection` to `combine_echodata` that has a datatype of `None` or a `List`
- By default we will let `channel_selection = None` and have a RuntimeError if all of the channels are not the same amongst the files being combined.
    -

[2022-11-28 18:23] leewujung opened #890 "Add `add_splitbeam_angle` function"
In the existing `consolidation` subpackage we would like to have functions that add info from the raw `EchoData` object into the calibrated Sv dataset. Here we want to create an `add_splitbeam_angle` function to add the estimated splitbeam angle to the Sv data set. The (alongship and athwartship) angles will be of the same dimension as the Sv data.

The simplest form of this is for both the angle

[2022-11-28 23:36] leewujung commented on #819
The below are only for the current implementation that ONLY allows for user choosing a subset of the channels. Expansion is not allowed.

- EK60 / AZFP:
  - there should always be only a single beam group under `Sonar` that is called `Sonar/Beam_group1`
  - user only provide a list, or their dictionary should have a key called "Sonar/Beam_group1"
  - the list will be used for all groups that have

[2022-11-29 21:49] leewujung commented on #889
I don't think "unify" and "consolidate" are exactly synonyms, but if there are other names that are better we can use those.

What I think the PR addressing this issue should achieve is to move those functions into a separate subpackage that is not called "preprocess." I think we have until v0.6.4 is released to finalize what subpackage name we want. 😛